body {
    background-color: #000;
}

.header {
    background-color: rgba(0, 0, 0, .5);
}
.road_container {
    width: 1440px;
    margin: 0 auto;
    color: #FFFF;
}

.imageSpan {
    font-style: italic;
    color: #F3BF10;
}
.imageBox {
    width: 45%;
    display: flex;
    justify-content: flex-start;
}
.imageItem {
    width: 420px !important;
}
.date {
    font-size: 45px;
    color: #F3BF10;
    transform: rotate(90deg);
    height: 40px;
    margin-top: 23px;
    margin-right: 140px;
}
.contentBox {
    width: 640px;
    font-size: 20px;
    line-height: 26.6px;
    font-weight: 600;
}
.sec {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.strong {
    color: #F3BF10;
    font-size: 44px;
}
.sec2 {
    /* 倒叙排列子元素   例如：本身排列为 1 2   使用之后排列为   2  1  */
    flex-direction: row-reverse;
}
.line {
    display: block !important;
}
.line .date {
    /* transform：形变  rotate：旋转   deg：对应  ° */
    transform: rotate(0deg);
    margin-top: 0;
    margin-bottom: 20px;
}
.sec2 .contentBox {
    width: 40%;
}
.sec2 .imageItem {
    width: 84%;
}
.pain {
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    background-color: #F3BF10;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.sec4 {
    flex-direction: row-reverse;
}
.sec4 .date{
    transform: rotate(270deg);
    height: 40px;
    margin-left: 66px;
    margin-right: 0;
}
.ascent_container {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e6e6e66e;
}