.left {
    display: flex;
    flex-direction: column;
    width: 640px;
}
.header {
    position: static;
}
.left p {
    font-size: 20px;
    font-weight: 600;
}
b {
    font-size: 40px;
    color: #F3BF10;
}
.container_main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.listItem {
    list-style: disc;
}
.list {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.guess {
    width: 100%;
    height: 157px;
    font-size: 80px;
    font-weight: bold;
    color: #F3BF10;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(5px)
}
.right {
    flex-direction: column-reverse;
}