html {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
  }

body{
    width: 1440px;
    background: linear-gradient(to bottom, #1e1e1e, #111); 
}

h1 {
    font-size: 100pt;
    text-align: left;
    margin-left: 150pt;
    line-height: 0.8;
}

h2 {
    color: rgb(120, 120, 120);
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
}

.subhead {
    font-size: 12pt;
    margin-left: 50pt;
    margin-top: 25pt;
    margin-bottom: 10pt;
    font-weight: 100;
    font-style: italic;
    line-height: 0;
}

.pangram300w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}

.pangram400w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.pangram500w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.pangram600w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.pangram700w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.pangram800w {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
}

.pangramBold {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
}

.pangramNormal {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}

.pangramLighter {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: lighter;
    line-height: 1.5;
}

.pangramItalic {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
}

.pangramDeco {
    font-size: 24pt;
    margin-left: 150pt;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: 2.5;
}